<!doctype html>
<html lang="en">
    <head>
        <title>Election Overview</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
    <body>
        <canvas id="myChart"></canvas>
        <script>

            const t1 = {
                label: 'Win and Tantan (' + <%=team1.length%> + ' votes)',
                borderColor: 'blue',
                data: <%- JSON.stringify(team1) %>
            };

            const t2 = {
                label: 'Punnatt and Punlee (' + <%=team2.length%> + ' votes)',
                borderColor: 'red',
                data: <%- JSON.stringify(team2) %>
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [t1, t2]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'hour'
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    aspectRatio: 2,
                    tooltips: {
                        callback: {
                            label: function(tooltipItem, data) {
                                return data + "TEST YO"
                            }
                        }
                    }
                }
            });
        </script>
    </body>
</html>