<!doctype html>
<html lang="en">
    <head>
        <title>Election Overview</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
    <body>
        <canvas id="myChart"></canvas>
        <script>

            const s1 = {
                label: 's1',
                borderColor: 'blue',
                data: <%= team1 %>
            };

            const s2 = {
                label: 's2',
                borderColor: 'red',
                data: <%= team2 %>
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',
                data: { datasets: [s1, s2] },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time'
                        }]
                    }
                }
            });
        </script>
    </body>
</html>